@model IEnumerable<Contact>
@{
    ViewBag.Title = "Home Page";
}
<h2>Welcome to @ViewBag.Title</h2>
<a asp-controller="app" asp-action="Contact"> Create new contact</a>
<h2>--------------------</h2>
@foreach (var contact in Model)
{
    <ul>
        <li>First Name : @contact.FirstName</li>
        <li>Middle Name : @contact.MiddleName</li>
        <li>Last Name : @contact.LastName</li>
    </ul>
    <h2>------------------------------</h2>
}